<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>コース情報一覧</title>
</head>
<body>
<h1>コース情報一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>コースID</th>
    <th>受講生ID</th>
    <th>コース名</th>
    <th>受講開始</th>
    <th>受講終了予定</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="course : ${courseList}">
    <td th:text="${course.courseId}">001</td>
    <td th:text="${course.studentId}">近本光司</td>
    <td th:text="${course.courseName}">ちかもとこうじ</td>
    <td th:text="${course.whenStart}">2025-05-01</td>
    <td th:text="${course.whenComplete}">2025-06-30</td>
  </tr>
  </tbody>
</table>
</body>
</html>