<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
  <div style="width: 200px;">
    <label for="id">ID:</label>
    <input type="text" id="id" th:field="*{student.id}" required/>
  </div>
  <div style="width: 200px;"><label for="name">名前:</label>
    <input type="text" id="name" th:field="*{student.name}" required/></div>
  <div style="width: 200px;"><label for="furigana">ふりがな:</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required/></div>
  <div style="width: 200px;"><label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required/></div>
  <div style="width: 200px;"><label for="mail">メールアドレス:</label>
    <input type="text" id="mail" th:field="*{student.mail}" required/></div>
  <div style="width: 200px;"><label for="city">出身地（市区町村）:</label>
    <input type="text" id="city" th:field="*{student.city}" required/></div>
  <div style="width: 200px;"><label for="age">年齢:</label>
    <input type="number" id="age" th:field="*{student.age}" required/></div>
  <div style="width: 200px;"><label for="gender">性別:</label>
    <input type="text" id="gender" th:field="*{student.gender}" required/></div>
  <div style="width: 200px;"><label for="remark">備考:</label>
    <input type="text" id="remark" th:field="*{student.remark}" required/>
  </div>
  <div>
    <button type="submit">登録</button>
  </div>
</form>
</body>
</html>