<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>コース情報登録</title>
</head>
<body>
<h1>コース情報登録</h1>
<form th:action="@{/registerCourse}" th:object="${courses}" method="post">
  <input type="hidden" th:field="*{studentId}"/>
  <div>
    <label for="courseName">コース名:</label>
    <select id="courseName" th:field="*{courseName}" required>
      <option value="">選択してください</option>
      <option th:each="courseName : ${courseList}"
              th:value="${courseName}"
              th:text="${courseName}">
        <span th:text="${courseName}"></span>
      </option>
    </select>
  </div>
  <div style="width: 200px;"><label for="whenStart">受講開始:</label>
    <input type="date" id="whenStart" th:field="*{whenStart}" required/></div>
  <div style="width: 200px;"><label for="whenComplete">受講終了予定:</label>
    <input type="date" id="whenComplete" th:field="*{whenComplete}" required/></div>
  <div>
    <button type="submit">登録</button>
  </div>
</form>
</body>
</html>